/.cargo
/.rustup
/target
/coop_content_types/target
/coop_content_sdk/target
/zomes/target
/zomes/*.wasm
/tests/target
/tests/node_modules
/tests/*.dna
/tests/zomes/*.wasm
/zomelets/dist/
/zomelets/node_modules/
